<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AssignmentP1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrackDiscussions</display-name>
    <servlet-name>TrackDiscussions</servlet-name>
    <servlet-class>controller.TrackDiscussions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackDiscussions</servlet-name>
    <url-pattern>/TrackDiscussions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackUsers</display-name>
    <servlet-name>TrackUsers</servlet-name>
    <servlet-class>controller.TrackUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackUsers</servlet-name>
    <url-pattern>/TrackUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterServlet</display-name>
    <servlet-name>TwitterServlet</servlet-name>
    <servlet-class>TwitterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterServlet</servlet-name>
    <url-pattern>/TwitterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoursquareServlet</display-name>
    <servlet-name>FoursquareServlet</servlet-name>
    <servlet-class>googlemap.FoursquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoursquareServlet</servlet-name>
    <url-pattern>/FoursquareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserWithVenueServlet</display-name>
    <servlet-name>SearchUserWithVenueServlet</servlet-name>
    <servlet-class>twitterVenueSearch.SearchUserWithVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserWithVenueServlet</servlet-name>
    <url-pattern>/SearchUserWithVenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreamUserServlet</display-name>
    <servlet-name>StreamUserServlet</servlet-name>
    <servlet-class>twitterVenueSearch.StreamUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamUserServlet</servlet-name>
    <url-pattern>/StreamUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTweetsByUserServlet</display-name>
    <servlet-name>SearchTweetsByUserServlet</servlet-name>
    <servlet-class>twitterUserSearch.SearchTweetsByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTweetsByUserServlet</servlet-name>
    <url-pattern>/SearchTweetsByUserServlet</url-pattern>
  </servlet-mapping>
   <error-page>
    <exception-type> java.lang.Exception </exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
 
</web-app>